@font-face {
    font-family: 'ConcertOne';
    src: url('/fonts/ConcertOne-Regular.woff');
}
*{
    box-sizing: border-box;
    margin: 0;
}
html,body{
    width: 100%;
    height: 100%;
}
#content{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #272C32;
    font-family: ConcertOne, serif;
}
#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: whitesmoke;
    width: max-content;
    height: max-content;
    border-radius: .2rem;
}
#todoInputForm input{
    height: 1.5rem;
    font-family: ConcertOne;
}
#todoInputForm input:nth-child(1){
    width: 35rem;
    border: 0;
    background-color: #3B3F48;
    color: #272C32;
    margin-right: -.4rem;
}
#todoInputForm input:nth-child(2){
    color: #B8C1C9;
    background-color: #292D34;
    border: 0;
}
#todoList{
    width: 100%;
    background-color: #3B3F48;
    margin-top: 1rem;
}
#todoList li{
    display: flex;
    padding: .5rem 0rem;
    color: #272C32;
}
.removeBtn{
    justify-content: flex-end;
    padding-left: 80%;
    color: red;
    cursor: pointer;
}
#container > h1:nth-child(1) {
    font-size: 6rem;
    margin-bottom: 7rem;
}
